<%= link_to 'sign up', new_user_registration_path %>
<%= link_to 'sign in', user_session_path %>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'User', users_path %>
<h3>Welcome to synup twitter </h3>
