<%= form_for(@micropost) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <span><%= f.file_field :avatar %></span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
